body ,ul,h3,h4 {
    margin: 0;
    list-style: none;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
}
div {
    margin: 0;
    padding: 0;
}
a {
    font-size: 12px;
    color: #cc9756;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
input {
    border-style: none;
    position: relative;
    top: -1em;
    font-size: 14px;
    width: 500px;
}
table {
    border: none;
}
td {
    padding: 0;
    border: none;
}
/* 置顶top盒子的设置 */
.top {
    width: 100%;
    height: 36px;
    background-color: #333333;
    box-sizing: border-box;
    position: relative;
    top: 0em;
    z-index: 20px;
}
.top_son {
    width: 1090px;
    height: 36px;
    margin: 0 auto;
    position: relative;
    z-index: 20px;
}
/* 对top栏右端a标签的设置 */
.top > .top_son > .font1 {
    color: thistle;
    text-decoration: none;
    padding: 0 8px;
    border-right:solid;
    border-width: 1px;
    border-color: #515151;
    position: relative;
}
.top > .top_son > img {
    position: relative;
    left: 0em;
    top: 5px;
    margin-top: 5px;
}
.top > .top_son > a:hover{
    color: #ffffff;
}
.top > .top_son > ul > li:hover{
    color: #ffffff;
}

/* 开始设置top右侧二级菜单项 */
.top > .top_son > ul {
    height: 16px;
    color: thistle;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0;
    z-index: 10px;
}

.top > .top_son > ul > li {
    float: left;
    position: relative;
    width: 78px;
    height: 16px;
    text-align: center;
    /* line-height: 2em; */
    cursor: pointer;
    font-size: 12px;
    border-right: solid;
    border-width: 1px;
    border-color: #515151;
}
.top > .top_son > ul::after {
    display: block;
    content: "";
    clear: both;
}
.top > .top_son > ul > li > .twomenu_1 {
    position: absolute;
    color: #515151;
    display: none;
    background-color: #f4f4f4;
}
.top > .top_son > ul > li:hover > .twomenu_1 {
    display: block;
    /* position: relative; */
    z-index: 101;
}
/* .top > .top_son > ul > li:hover::after > ul.twomenu > li {
    position: absolute;
} */
.top > .top_son > ul > li > .twomenu_1 > li {
    border-bottom: solid;
    border-color: thistle;
    border-width: 1px;
    display: block;
}
.top > .top_son > ul > .erweima:hover {
    display: block;
}
/* 开始设置top之下的nav大盒子 */
.header {
    width: 1090px;
    height: 140px;
    /* border: solid;
    border-width: 1px; */
    margin: 0 auto;
    position: relative;
}
/* 对logo开始设置 */
.box1 {
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: 325px;
    height: 100px;
    width: 300px;
    /* padding: 1px; */
    display: inline-block;
    position: relative;
}
.box2 {
    width: 402.4px;
    height: 32.4px;
    border: solid;
    border-color: #d8b07f;
    padding-top: 2px;
    padding-bottom: 2px;
    border-width: .8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 38px;
    position: relative;
}
.box2_2 {
    width: 3.875em;
    height: 1.65em;
    padding-left: 1.75em;
    padding-top: .5em;
    padding-bottom: .125em;
    background-color: #cc9756;
    position: relative;
    left: 25.21em;
    border: solid;
    border-width: .05em;
    border-color: #cc9756;
    top: -2.62em;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    z-index: 5;
}
.box2_3 {
    position: relative;
    font-size: 12px;
    color: #cc9756;
    top: -3em;
    left: -2.5em;
}
.box2_3 > ul > li {
    width: 7.2em;
    border-right: solid;
    border-width: .8px;
    border-color: #cc9756;
    box-sizing: content-box;
}
.box3 {
    width: 134px;
    height: 38px;
    border: solid;
    border-width: .8px;
    border-radius: 20px;
    border-color: #cc9756;
    position: relative;
    left: 59.8em;
    top: -7.2em;
}
.box3_1 {
    position: relative;
    left: 1.2em;
    top: .3em;
    font-size: 14px;
}
.box3_2 {
    position: relative;
    border: solid;
    border-color: #d22b2f;
    border-width: 1px;
    border-radius: 1em;
    width: 17px;
    height: 17px;
    color: #f4f4f4;
    background-color:#d22b2f;
    text-align: center;
    left: 6em;
    top: -1em;
}
.box3:hover {
    background-color:peachpuff;
}
/* 导航栏 */
.nav {
    width: 1519px;
    height:3.125em;
    margin: 0 auto;
    border-width: .5px;
    margin-top: -45px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    padding-top: 20px;
    background-color: #ffffff;
    /* padding-left: 13.406em; */
    padding: 20px 214.5px 0 214.5px;
    z-index: 100;
}
.nav > ul.first {
    display: block;
    content: "";
    clear: both;
    height: 16px;
}
/* .nav > .first {
    top: 5em;
    width: 100%;
} */
/* 一级菜单 */
.nav > .first > li {
    float: left;
    font-size: 14px;
    font-weight:700;
    margin-left: 26px;
    margin-right: 26px;
    padding-bottom: 14px;
    line-height: 14px;
}
.nav > .first > li:hover {
    color: #cc9756;
    border-bottom: solid;
    border-bottom-color: #cc9756;
    border-width: 2.5px;
}
/* 二级菜单 */
.nav > .first > li > .second {
    display: none;
    position: absolute;
    z-index: 10px;
    border: solid;
    border-width: .8px;
    border-color: thistle;
    background-color: #ffffff;
    top: 3.62em;
    left: 15em;
    padding-top: 0.625em;
    box-shadow: 3px 3px 3px #888888;



    


    /* animation-name: move1;
    animation-timing-function:linear;
    animation-duration:0.5s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    animation-direction: alternate; */

}

.nav > .first > li > .second > li {
    display: inline-block;
}
/* 左悬浮框 */
.left_bar {
    height: 365px;
    position: sticky;
    width: 108px;
    top: 4em;
    margin-left: 80px;
    z-index: 100;
    border: solid;
    border-width: .8px;
    border-color: #e2ded6;
    border-radius: 5px;
    background-color: #ffffff;
    display: inline-block;
}
.left_bar > .lft_ul {
    display: flex;
    flex-direction: column;
}
.left_bar > .lft_ul > li {
    line-height: 36.6px;
    border-width: .2px;
    vertical-align: middle;
    padding: 2px 11px;
    border-bottom: solid;
    border-width: .5px;
    border-color: #e2ded6;
}
.left_bar > .lft_ul > li > span {
    border-bottom: solid;
    border-width: .5px;
    border-color: #e2ded6;
}
/* 右悬浮框 */
.right_bar {
    height: 467px;
    position: sticky;
    width: 88px;
    top: 4em;
    margin-left:1237px;
    z-index: 100;
    background-color: #ffffff;
    display: inline-block;
}
.right_bar > .rit_ul {
    display: flex;
    flex-direction: column;
}
.right_bar > .rit_ul > li {
    height: 70px;
    border-width: .2px;
    vertical-align: middle;
    padding: 5px 11px;
}
.right_bar > .rit_ul > li > span {
    
}
/* 透明渐变 */
.first > li:hover > .second {
    display: block;
    z-index: 10px;

    animation-name: move;
    animation-timing-function:linear;
    animation-duration:0.5s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    animation-direction: alternate;
    /* 抽屉式做的有瑕疵 */
    
}
.second > li > span {
    display: inline-block;
}
.nav > .first > li > .second > li {
    color: #333333;
}
/* 图片轮播 */
.img {
    width: 1920px;
    height: 420px;
    margin: 0 auto;
    top: -4em;
    z-index: 5px;
    /* display: none; */
}

/* 第一个商品视图view1 */
.view1 {
    width: 1090px;
    height: 48px;
    margin: 0 auto;
    font-size: 24px;
    margin-top: 1em;
    position: relative;
}
/* 由于之前a标签的定义，现在得改一下 */
.view1_son1 > a {
    font-size: 14px;
    text-decoration: none;
    color: #333333;
    line-height: 14px;
    position: relative;
}



@keyframes move {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* 抽屉式做的有瑕疵 */
/* @keyframes move1 {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
} */
/* 开始做view */
.view1 > .view1_son1 > a {
    position: relative;
    right: -54.5em;
}
.view1 > .view1_son2 {
    margin: 0 auto;
    padding: 0;
    width: 1090px;
    height: 364.3px;
    /* border: solid; */
    margin-top: 15px;
}
.view1 > .view1_son2 > ul {
    padding: 0;
    background-color: #ffffff;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.view1 > .view1_son2 > ul > li {
    height: 364.3px;
    /* background-color: #f4f4f4; */
    width: 24.4%;
    
}
/* 伸缩盒布局做view */
.view1 > .view1_son2 > ul > li:hover {
    background-color: #f4f0ea;
    box-shadow: 3px 3px 3px #888888;
}
.view1  .photo {
    position: relative;
}
.view1  .zdj {
    position: absolute;
    top: 15.9em;
    background-color: #ed6d2b;
    height: 3em;
    width: 4em;
    border-top-right-radius: 5px;
    color: #ffffff;
    z-index: 1;
    padding: 0 .5em;
    font-size: 14px;

}
.view1  .youhui {
    font-size: 12px;
    position: absolute;
    top: 19.6em;
    width: 14.1em;
    line-height: 2.5em;
    background-color: #ff7c49;
    color: #ffffff;
    padding-left: 8em;
}
.view1  .introduce {
    text-align: center;
    position: absolute;
    top: 11.5em;
}
.view1  .xsg {
    font-size: 12px;
    display: inline-block;
    background-color: #ff7c49;
    color: #ffffff;
    padding: .1em .3em;
    margin: .2em;
}
.view1  .name {
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
}
.view1  .price {
    color: #ff7c49;
    line-height: 1.6em;
    font-size: 14px;
}
.view1 > .view1_son2 > ul >li.view_1 {
    background-image: url(https://yanxuan-item.nosdn.127.net/1ac843077947be05921213f307cf242d.png?type=webp&quality=95&thumbnail=265x265&imageView);
    background-repeat: no-repeat;
}
.view1 > .view1_son2 > ul >li.view_2 {
    background-image: url(https://yanxuan-item.nosdn.127.net/67957d105d7714f31b608d27e2f8cba9.png?type=webp&quality=95&thumbnail=265x265&imageView);
    background-repeat: no-repeat;
}
.view1 > .view1_son2 > ul >li.view_3 {
    background-image: url(https://yanxuan-item.nosdn.127.net/1fdbd160df259819513cb44ce87a9f11.jpg?type=webp&quality=95&thumbnail=265x265&imageView);
    background-repeat: no-repeat;
}
.view1 > .view1_son2 > ul >li.view_4 {
    background-image: url(https://yanxuan-item.nosdn.127.net/37cef68c46e20f6b9cd916da9b9b32c0.png?type=webp&quality=95&thumbnail=265x265&imageView);
    background-repeat: no-repeat;
}
.view1 > .view1_son2 > ul >li.view_1:hover  img {
    display: none;
}
.view1 > .view1_son2 > ul >li.view_2:hover  img {
    display: none;
}
.view1 > .view1_son2 > ul >li.view_3:hover  img {
    display: none;
}
.view1 > .view1_son2 > ul >li.view_4:hover  img {
    display: none;
}

/* 第二个view人气推荐 */
.bg {
    width: 1519px;
    height: 742px;
    margin: 50px auto 50px;
    /* border: solid; */
    background-color: #f4f0ea;

}
.bg > .view2 {
    width: 1090px;
    height: 618px;
    margin: 0 auto;
    padding: 60px 0;
    position: relative;
    /* border: solid; */
}
.bg > .view2 > .view2_son1 > span.sp1 {
    border-bottom: solid;
    border-width: 2px;
    border-color: #cc9756;
    padding-bottom: 5px;
    color: #cc9756;
    position: relative;
    top: -.5em;
}
.bg a {
    position: relative;
    right: -45.7em;
    font-size: 14px;
    text-decoration: none;
    color: #333333;
    line-height: 14px;
    position: relative;
}
.bg .view2_son2 > .tb {
    margin-top: 10px;
    width: 1090px;
    height: 570px;
    border-collapse:separate;
    border-spacing:10px;
}
.bg .view2_son2 > .tb td {
    background-color: #ffffff;
    width: 220px;
    border-width: 10px;
}
.tb1 {
    text-align: center;
    vertical-align: middle;
    width: 381px;
    border-bottom: solid;
    border-width: 2px;
    border-color: #f7f4ef;
    position: relative;
    top: -2em;
    padding-bottom: 40px;
    
}
/* 此处尝试写一下放大的动画效果..成功 */
.tb1:hover {
    
    animation-name: move1;
    animation-delay: 0s;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes move1 {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.02);
    }
    50% {
        transform: scale(1.04);
    }
    75% {
        transform: scale(1.06);
    }
    100% {
        transform: scale(1.08);
    }
}
.tb2 {
    width: 390px;
    height: 97px;
    text-align: center;

}
.tb2 > .sp1 {
    font-size: 12px;
    color: #ffffff;
    background-color: #e36844;
    display: inline-block;
    line-height: 20px;
    width: 24px;
    padding: 0 5px;
}
.tb2 > .sp2 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
    width: 140px;
    margin-bottom: 13px;
}
.tb2 > .sp3 {
    font-size: 18px;
    height: 18px;
    line-height: 1;
    color: #d4282d;
}
.tb1_1 {
    text-align: center;
    width: 216px;
    height:180px;
    position: relative;
    top: 0em;
}
.tb1_1:hover {
    animation-name: move1;
    animation-delay: 0s;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.tb1_2 {
    text-align: center;
}
.tb1_2 > .sp1 {
    font-size: 12px;
    color: #ffffff;
    background-color: #e36844;
    display: inline-block;
    line-height: 20px;
    width: 36px;
    padding: 0 5px;
    margin-bottom: 5px;
}
.tb1_2 > .sp2,.sp3 {
    font-weight: 600;
    font-stretch: normal;
    line-height: 20px;
    font-size: 14px;
}
.tb1_2 > .sp4 {
    color: #e36844;
}
.tb1_2 > .sp5 {
    font-size: 14px;
    color: thistle;
    text-decoration: line-through;
}
.bg2 {
    width: 1519px;
    height: 850px;
    margin:0 auto;
    /* border: solid; */
    background-color: #f4f0ea;
}
.bg1 {
    width: 1090px;
    height: 550px;
    margin:0 auto;
    padding-top: 20px;
    box-sizing: border-box;
}
.bg1 >div > a {
    position: relative;
    right: -52em;
    font-size: 14px;
    text-decoration: none;
    color: #333333;
    line-height: 14px;
    position: relative;
}
.bg1 .td1 {
    width: 224px;
    height: 376px;
    vertical-align: top;
}
.bg1 .td2 {
    width: 624px;
    height: 376px;
    padding: 0 17px;
    vertical-align: text-top;
    box-sizing: border-box;
}
.bg1 .td2_hdr {
    padding: 19px 0 12px 0;
    border-bottom: solid;
    border-width: .8px;
    border-color: #f4f0ea;
}
.bg1 .td2_td {
    width: 290px;
    height: 160px;
    vertical-align: top;
    margin-bottom: 20px;
    padding-top: 10px;
    background-color: #fbf9f6;
}
.bg1 .td2_div_1 {
    display: inline-block;
    width: 90px;
    height: 28px;
    text-align: center;
    padding: 8px 0px;
    font-size: 12px;
    box-sizing: border-box;
    position: relative;
    background-color:#be4141 ;
    color: #ffffff;
    left: -4em;
    top: -1.5em;
}
.bg1 .td3 {
    width: 242px;
    height: 376px;
}
.bg1 .td3_div {
    width: 238.5px;
    height: 201px;
    border-left: solid;
    border-width: .8px;
    border-color: #f4f0ea;
    box-sizing: border-box;
    padding: 0 20px;
}
.bg1 .td3_hdr {
    padding: 19px 0 12px 0;
}
.view3 {
    width: 1090px;
    height: 618px;
    padding: 60px 0;
    margin: 0 auto;
    background-color: #f4f0ea;
}
.bg2 > .view3 >.view2_son1 > span {
    display: inline-block;
    padding-bottom: 5px;
}
.view2_son2 {
    padding-top: 20px;
}
.view2_son3 > ul {
    display: flex;
    width: 1090px;
    height: 361px;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.view2_son3 > ul > li {
    height: 361px;
    background-color: #ffffff;
    width: 24.3%;
    margin-top: 1em;
    text-align: center;
}

.view2_son3 > ul > li > span {
    display: inline-block;
    padding: 3px 0;
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: 600;
    display: block;
}
.view2_son3 > ul > li:hover {
    background-color: #f4f0ea;
    box-shadow: 3px 3px 3px #888888;
}
/* 甄选家 */
.bg3 {
    width: 1519px;
    height: 508px;
    background-color: #f4f0ea;
    padding-top: 60px;
}
.bg3 > .view4 {
    width: 1090px;
    margin: 0 auto;
    height: 508px;
}
.bg3 .view4_ul {
    width: 1090px;
    height: 380px;
    display: flex;

    flex-direction: row;
    flex-basis: 1090px;
    justify-content: space-between;
}
.bg3 .view4_ul > .view4_li1 {
    width: 690px;
    height: 380px;
    background-color: aliceblue;

}
.bg3 .view4_ul > .view4_li2 {
    width: 390px;
    height: 380px;
    background-color: #f4f0ea;
}
/* 底边框 */
.bg4 {
    width: 1519px;
    height: 298px;
    padding-top: 60px;
    padding-bottom: 34px;
    box-sizing: border-box;
    border-top: solid;
    border-width: .8px;
    border-color: #f4f0ea;
}
.bg4 > .bg4_tb {
    width: 1090px;
    height: 204px;
    margin: 0 auto;
}
.bg4 > .bg4_tb > td {
    width: 360.6px;
    height: 200px;
    display: inline-block;
    
}
.bg4 .bg4_1, .bg4_2  {
    position: relative;
    width: 80px;
    height: 100px;
    border: solid;
    border-width: .8px;
    border-color: #e8e8e8;
    display: inline-block;
    top: 0em;
    left: -1em;
    margin-left: 29px;
    padding-top: 20px;
    box-sizing: border-box;
}
.bottom {
    width: 1519px;
    height: 213px;
    background-color: #414141;
    padding-top: 37px;
}
.btm_son {
    width: 1090px;
    margin: 0 auto;
    height: 213px;
}
.btm_ul {
    display: flex;
    flex-direction: row;
    height: 50px;
}
.btm_ul > li {
    width: 272.5px;
    height: 50px;
    color: #fff;
    font-size: 18px;
    line-height: 51px;
    font-family: "微软雅黑";
    text-align: center;
    padding-bottom: 30px;
    border-bottom: solid;
    border-width: .8px;
    border-color: #4f4f4f;
    box-sizing: border-box;
}
